body {
    background-color: #fa8f97
}

.shopping-cart {
    width: 400px;
    height: auto;
    min-height: 200px;
    position: fixed;
    right: 10px;
    top: 20px;
    background-color: aliceblue;
}

.products, .wrapper, .add-user{
    background-color: #fcbabf;
    text-align: center;
    margin: auto;
    font-family: sans-serif;
    font-size: 1.3em;
    background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
    background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    position:relative;
    width:650px;
    height:auto;
    font-family: "Josefin Slab";
    line-height: 24px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:10px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.button, button{
    width:auto;
    right:20px;
    bottom:20px;
    background:#aa202a;
    color:#fff;
    font-family: "Josefin Slab";
    height:25px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1p solid #999;
}

span {
    margin-right: 20px;
    margin-left: 20px;
}
input {
    margin-left: 130px;
    width:375px;
    display:block;
    border: 1px solid #999;
    height: 25px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 3);
}