<h2 style="text-align: center">Login</h2>
<form class="add-user">
    <input type='text' placeholder="username" ng-model="addUsername">
    <input type='text' placeholder="password" ng-model="addPassword">
    <button ng-click="loginUser({username:addUserName, password:addPassword})">Login</button>
</form>

<h2 style="text-align: center">Sign Up</h2>
<form class="add-user">
    <input type='text' placeholder="username" ng-model='addUserName'>
    <input type='text' placeholder="password" ng-model='addPassword'>
    <input type='text' placeholder="First Name" ng-model='addFirstName'>
    <input type='text' placeholder="Last Name" ng-model='addLastName'>
    <button ng-click="createNewUser({username:addUserName, password:addPassword, firstname: addFirstname, lastname: addLastname })">Sign Up</button>
</form>
<br />